.movie-grid {
	overflow-x: scroll;
	max-height: 100vh;

	.uk-card-title,
	.uk-card-footer {
		color: rgb(255, 255, 255);
	}

	.movie-thumb {
		width: 100px;
		border-radius: 5px;
	}

	h3 {
		margin: 15px 0 10px 0;
	}

	.imdb-div {
		margin-top: 20px;

		.rating {
			color: #fff;
		}
	}

	.uk-card-default {
		background-color: #0f003fea;
		cursor: pointer;
	}
	.uk-card-default:hover {
		background-color: #230e69ea;
		box-shadow: 3px 5px 16px 4px hsl(242deg 60% 58%);
	}
}
