.login-container {
  height: 100vh;

  h5 {
    color: #ffbd24;
  }
  .card.login-card {
    background-color: #0f003fe0;
    border-radius: 20px;
    padding: 15px;
    color: #fff;
    width: 30rem;

    .login-form {
      div {
        margin-top: 15px;
      }
    }

    .expired {
      padding: 50px;
      text-align: center;
    }
  }

  @media only screen and (max-width: 767px) {
    .card.login-card {
      width: 23rem;
    }

    img {
      width: 300px;
    }
  }
}

.modal-footer {
  justify-content: center !important;

  .btn {
    width: 100px;
  }
}
