.movie-details {
	background-color: #0f003fe0;
	border-radius: 20px !important;
	margin: 30px auto !important;
	width: 85%;

	h2 {
		color: #ffbd24;
	}

	.movie-image img {
		border-radius: 10px;
	}

	.genre {
		font-size: 1.25rem;
	}

	.btn.toggle {
		border-radius: 10px;
		justify-content: center;

		.btn {
			padding: 10px 0 0 0;
		}
	}

	a {
		color: #00cce3;
		text-decoration: underline;
	}
}

@media only screen and (max-width: 767px) {
	.movie-image {
		img {
			width: 40% !important;
			margin-top: -30px;
		}
	}
}

.modal-backdrop {
	z-index: 1025 !important;
}

.modal-display .modal-content {
	color: #0f003f;
	border-radius: 15px;

	.modal-dates {
		margin-bottom: 10px;
		font-weight: bold;
	}

	.modal-title {
		font-weight: bold;
	}

	img {
		border-radius: 15px;
		float: left;
		margin-right: 15px;
		width: 200px;
	}
}
