@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	display: flex;
	font-family: 'Poppins';
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: url('./img/bg.png') no-repeat center fixed;
}

.imdb-logo {
	width: 59px;
	height: 30px;
	margin-right: 10px;
	background: url('./img/imdb_logo.png');
}
