@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primarycolor: #0f003f;
$secondaycolor: #ffbd24;
$tertiarycolor: #00cce3;

$siteaplpha: rgba($primarycolor, 0.88);

body {
	font-family: 'Poppins' !important;
	background: url('./img/bg.png') no-repeat center center fixed;
	background-size: cover;
}

.top-container {
	width: 100% !important;
	max-width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}

.container {
	//height: 100vh;
	// max-width: 90% !important;
}

.imdb-logo {
	background: url('./img/imdb_logo.png') no-repeat;
	height: 30px;
	width: 59px;
}

.imdb-logo {
	width: 59px;
	height: 30px;
	margin-right: 10px;
	background: url('./img/imdb_logo.png');
}

.error-msg {
	margin-top: 5px;
	font-style: italic;
	color: $secondaycolor;
}
