a#navbarScrollingDropdown,
#userDropdown {
	color: #fff;
	text-align: end;
}

.bi-person-circle {
	font-size: 1.5rem;
}

.dropdown-menu.show.dropdown-menu-end {
	right: 0 !important;
	left: auto;
}

#search-btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.navbar-toggler {
	color: '#ffbd24';
}

@media only screen and (max-width: 767px) {
	.navbar-collapse.collapse.show {
		.navbar-nav {
			align-items: flex-end;

			.dropdown,
			form {
				margin: 0 0 15px 0 !important;
			}
		}

		.ml-auto.user-profile.navbar-nav {
			i {
				display: none;
			}

			display: flex !important;
			flex-direction: row !important;
			justify-content: flex-end !important;
			align-items: center !important;
			div {
				margin: 0 0 0 5px !important;
			}
			.dropdown-menu.show.dropdown-menu-end {
				right: 0 !important;
				left: auto;
			}
		}
	}
}
